%form{:method=> "post", :action=> "make/order"}
	%input{:type=> "hidden", :name=> "kroken_id", :value=> "#{@kroken_id}"}	
	%label Mängd
	%input{:type=> "text", :name=> "amount"}
	%input{:type=> "submit", :value=> "Hämta ut alkohol"} );