%a{:href=> "/user/change"} Vill du byta lösenord?
%form{:method=> 'post', :action=> "/add/articles/to_db"}
	%label Ange sökväg:
	%input{:type=> "text", :name=> "path"}
	%input{:type=> "submit", :value=> "Lägg till data"}
%form{:method=> 'post', :action=> "/add/user"}
	%label Namn:
	%input{:type=> "text", :name=> "user"}
	%label Lösen:
	%input{:type=> "text", :name=> "pass"}
	%input{:type=> "submit", :value=> "Lägg till användare"}
%a{:href=> "/remove/user"} Ta bort användare?
=partial :"partials/duties_partial", @duties