-# encoding: ISO-8859-1
%form{:method=> 'post', :action=> "/user"}
	%label Namn:
	%input{:type=> "text", :name=> "user"}
	%label Lösen:
	%input{:type=> "text", :name=> "pass"}
	%input{:type=> "submit", :value=> "Lägg till användare"}
- for user in @users do
	%label= user.name
=partial :duties_partial, @duties