-# encoding: ISO-8859-1
%form{:method=> 'post', :action=> "/user"}
	%label Namn:
	%input{:type=> "text", :name=> "user"}
	%label Lösen:
	%input{:type=> "text", :name=> "pass"}
	%input{:type=> "submit", :value=> "Lägg till användare"}
%a{:href=> "/remove/user"} Ta bort användare?
=partial :duties_partial, @duties