%form{:method => 'POST'}
  %fieldset
    %div
      %label{:for=>'namn'}Namn:
      %input{:type=>'text', :name=>'namn'}
    %div
      %label{:for=>'till'}Till:
      %input{:type=>'text', :name=>'till'}
    %div
      %label{:for=>'namn'}Från:
      %input{:type=>'text', :name=>'fran'}
    %input{:type=>'submit', :value=>'Boka'}
