-# encoding: ISO-8859-1
.search-form
	%form{:method=> "post", :action=> "/schedule"}
		%input#datepicker{:type=> "text", :name=> "datepicker"}
		%input{:type=> "submit", :value=> "Schema"}
#krokar.right-column
	-for kroken in @krokar
		%h3
			%a{:href=> "#"} Kröken #{kroken.date}
		%div{:name=> "#{kroken.date}"}
			=partial :kroken_partial, kroken

:javascript
	$(document).ready(function() {
		$("#datepicker").datepicker();
		$("#krokar").accordion();
		$("#datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
	});