%form{:method=> "post", :action=> "/login"}
	%label Namn:
	%input{:type=> "text", :name=> "user"}
	%label Lösenord:
	%input{:type=> "password", :name=> "pass"}
	%input{:type=> "submit", :value=> "Logga in"}