%form{:method=> "post", :action=> "/login"}
	%label Namn:
	%input{:type=> "text", :name=> "user"}
	%label Lösenord: 
	%input{:type=> "password", :name=> "pass"}
	%input{:type=> "submit", :value=> "Logga in"}
%lu.ui-widget
	%ul När du loggat in, klicka på "textskrivfältet".
	%ul Du får nu välja ett datum
	%ul När du gjort det klicka på schema och fyll i när du kan jobba.