-# encoding: ISO-8859-1
%form#schedule{:method=> "post", :action=> "/booking"}
	%input{:type=> "hidden", :name=> "id", :value=> "#{@kroken.id}"}
	%div
		%label Fylla kylar
		%input{:type=> "text", :name => "fridge"}
	%div
		%label Bära bardelar
		%input{:type=> "text", :name => "carry"}
	%div
		%label Jobba i baren
		%input{:type=> "text", :name => "bar"}
	%div
		%label Stå i köket
		%input{:type=> "text", :name => "chef"}
	%div
		%label Städa efteråt
		%input{:type=> "text", :name => "clean"}	
	%a{:href=> "/"} Tillbaka
	%input{:type => "submit", :value => "spara"}
	