
%form#schedule{:method=> "post", :action=> "/booking"}
	%input{:type=> "hidden", :name=> "id", :value=> "#{@kroken.id}"}
	%div
		%label Fylla kylar
		%input{:type=> "text", :name => "fridge", :charset=> 'utf-8'}
	%div
		%label Bära bardelar
		%input{:type=> "text", :name => "carry", :charset=> 'utf-8'}
	%div
		%label Jobba i baren
		%input{:type=> "text", :name => "bar", :charset=> 'utf-8'}
	%div
		%label Står i köket
		%input{:type=> "text", :name => "chef", :charset=> 'utf-8'}
	%div
		%label Städar efteråt
		%input{:type=> "text", :name => "clean", :charset=> 'utf-8'}	
	%div
		%input{:type => "submit", :value => "spara", :charset=> 'utf-8'}
	