=left($dist)
  float: left
  margin-left: $dist

=right($dist)
  float: right
  margin-right: $dist

body
  margin: 10px
  padding: 5px

.page
  position: relative
  margin:
    left: auto
    right: auto
  width: 80%
  #header
    h1
      font-size: 40px
      text:
        align: center
    a
      margin:
        right: auto
        left: auto
  #content
    #krokar
      p
        +left(3px)
        width: 54%
      form
        width: 45%
        float: right
    form#schedule
      div
        label
          float: left
          width: 300px
        input
          align: right
    .left-column
      width: 35%
      +left(3px)
    .right-column
      width: 63%
      +right(3px)
