body
{
	margin: 10px;
	padding: 5px;
}
.page {
	position: relative;
	margin-left: 20%;
	width: 60%;
	#header {
		h1 {
			font-size: 40px;
			text: {
				align: center;
			}
		}
		a {
			margin: {
				right: auto;
				left: auto;
			}
		}
	}
	#content {
		.left-column {
			width: 35%;
			float: left;
			margin-left: 3px;
		}
		.right-column {
			width: 60%;
			float: right;
			align: top;
			margin-right: 3px;
		}
	}
}