@mixin left($dist) {
	float: left;
	margin-left: $dist;
}
@mixin right($dist) {
	float: right;
	margin-right: $dist;
}

body
{
	margin: 10px;
	padding: 5px;
}
.page {
	position: relative;
	margin: {
		left: auto;
		right: auto;
	}
	width: 70%;
	#header {
		h1 {
			font-size: 40px;
			text: {
				align: center;
			}
		}
		a {
			margin: {
				right: auto;
				left: auto;
			}
		}
	}
	#content {
		#krokar {
			p {
				align: top;
				width: 55%;
				@include left(3px);
			}
			form {
				@include right(3px);
				width: 40%;
			}
		}
		form#schedule {
			div {
				$height: 30px;
				label{
					margin-top: 5px;
					align: top;
					height: $height;
					@include left(3px);
					width: 25%;
				}
				input {
					align: left;
					width: 30%;
				}
			}
			input {
				align: bottom;
			}
			a {
				align: top;
			}
		}
		.left-column {
			width: 35%;
			@include left(3px);
		}
		.right-column {
			width: 60%;
			@include right(3px);
		}
	}
}