%form{:method=> "post", :action=> "change"}
	%input{:type=> "hidden", :name=> "_method", :value=> "put"}
	%label Ditt nya lösenord:
	%input{:type=> "password", :name=> "pass"}
	%input{:type=> "submit", :value=> "Updatera"}
