body {
  margin: 10px;
  padding: 5px; }

.page {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%; }
  .page #header #navbar {
    margin-bottom: 5px;
    width: 100%;
    float: right;
    margin-right: 3px;
    clear: left; }
    .page #header #navbar .align-right {
      float: right;
      margin-right: 3px; }
    .page #header #navbar .align-left {
      float: left;
      margin-left: 3px; }
  .page #header h1 {
    font-size: 40px;
    text-align: center; }
  .page #content #krokar {
    width: 63%;
    float: right;
    margin-right: 3px; }
    .page #content #krokar p {
      float: left;
      margin-left: 3px;
      width: 54%; }
    .page #content #krokar form {
      width: 45%;
      float: right; }
  .page #content .search-form {
    width: 35%;
    float: left;
    margin-left: 3px; }
  .page #content form#schedule div {
    width: 35%;
    clear: both; }
    .page #content form#schedule div label {
      float: left;
      margin-left: 3px; }
    .page #content form#schedule div input {
      float: right;
      margin-right: 3px; }
  .page #footer {
    clear: both;
    float: bottom; }
    .page #footer a {
      margin-top: 6px;
      float: right;
      margin-right: 3px; }
